<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Data binding for Backbone.js</title>

		<meta name="description" content="An overview of existing solutions">
		<meta name="author" content="Kostiantyn Tsaregradskyi">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="bower_components/reveal.js/css/theme/default.css" id="theme">
		<link rel="stylesheet" href="css/additionalStyles.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'bower_components/reveal.js/css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="bower_components/reveal.js/lib/js/html5shiv.js"></script>
		<![endif]-->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
    </head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Data binding for Backbone.js</h1>
					<h4>Обзор существующих решений</h4>
					<p>
						<small>Автор <a href="mailto: tsaregradskyi@gmail.com">Константин Цареградский</a></small>
					</p>
				</section>

                <section class="fragment">
                    <p><strong>Backbone.js</strong> - мощный фреймворк, но...</p>
                    <p class="fragment">очень часто приходиться решать простейшие задачи не самым простым образом.</p>
                </section>

                <section>
                    <h2>Задача</h2>
                    <p>Есть форма редактирования имени и фамилии пользователя, из них генерируется полное имя.</p>
                    <p>&nbsp;</p>

                    <span id="task"></span>

                    <button id="setFirstAndLastNames">Set 'firstName' and 'lastName' to model</button>

                    <script>
                        var FullNameView = Backbone.View.extend({
                            template: _.template(
                                '<p><strong>First Name:</strong> <input type="text" id="firstName" value="<%- firstName %>"/></p>' +
                                '<p><strong>Last Name:</strong> <input type="text" id="lastName" value="<%- lastName %>"/></p>' +
                                '<p><strong>Full Name:</strong> <span id="fullName"><%- firstName %> <%- lastName %></span></p>'),

                            events: {
                                "change #firstName": "updateFirstName",
                                "change #lastName": "updateLastName"
                            },

                            initialize: function() {
                                this.listenTo(this.model, "change:firstName change:lastName", this.render);
                            },

                            render: function() {
                                this.$el.html(this.template(model.toJSON()));

                                return this;
                            },

                            updateFirstName: function() {
                                this.model.set("firstName", this.$("#firstName").val());
                            },

                            updateLastName: function() {
                                this.model.set("lastName", this.$("#lastName").val());
                            }
                        });

                        var model = new Backbone.Model({ firstName: "", lastName: "" }),
                            view = new FullNameView({ model: model, el: $("#task") });

                        view.render();

                        $("#setFirstAndLastNames").on("click", function() {
                            model.set({
                                "firstName": "Luke",
                                "lastName": "Skywalker"
                            });
                        });
                    </script>
                </section>

				<section style="top: -450px !important;">
                    <h2>Vanilla Backbone.js</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" id="firstName" value="<%- firstName %>"/></p>
<p>Last Name: <input type="text" id="lastName" value="<%- lastName %>"/></p>
<p>Full Name: <%- firstName %> <%- lastName %></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code data-trim contenteditable class="javascript" style="max-height: 800px; font-size: 16px;">
var FullNameView = Backbone.View.extend({
    template: _.template($("script[type='text/template']").html()),
    events: {
        "change #firstName": "updateFirstName",
        "change #lastName": "updateLastName"
    },
    initialize: function () {
        this.listenTo(this.model, "change:firstName change:lastName", this.render);
    },
    render: function () {
        this.$el.html(this.template(model.toJSON()));
        return this;
    },
    updateFirstName: function () {
        this.model.set("firstName", this.$("#firstName").val());
    },
    updateLastName: function () {
        this.model.set("lastName", this.$("#lastName").val());
    }
});

var model = new Backbone.Model({firstName: "Luke", lastName: "Skywalker"}),
    view = new FullNameView({model: model, el: $("#container")});

view.render();</code></pre>

				</section>

                <section class="fragment">
                    <h2>Vanilla Backbone.js</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                            <tr><th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <ul></ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Много кода для такой простой задачи</li>
                                    <li class="fragment">Ре-рендеринг всей вьюхи каждый раз</li>
                                    <li class="fragment">В перспективе - причина создания собственного велосипеда</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

				<section class="fragment">
					<h3>Есть решение проще!</h3>
					<h1 class="fragment">Data Binding</h1>
				</section>

				<section>
					<h2>Data Binding</h2>
					<p>Процесс связывания пользовательского интерфейса приложения с бизнес-логикой.</p>
					<p>Эта концепция активно используется в таких популярных фреймворках как <strong>AngularJS</strong>, <strong>KnockoutJS</strong> и многих других.</p>
				</section>

				<section>
					<h2>KnockoutJS</h2>
                    <p>Source code: View</p>
					<pre><code class="html" data-trim contenteditable>
<p>First Name: <input data-bind="value: firstName" /></p>
<p>Last Name: <input data-bind="value: lastName" /></p>
<p>Full Name: <span data-bind="text: firstName"></span>
    <span data-bind="text: lastName"></span></p></code></pre>
                    <p>Source code: View Model</p>
                    <pre><code class="javascript" data-trim contenteditable>
var ViewModel = function(first, last) {
    this.firstName = ko.observable(first);
    this.lastName = ko.observable(last);
};

ko.applyBindings(new ViewModel("Luke", "Skywalker"));</code></pre>
				</section>

				<section>
                    <h2>AngularJS</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable>
<div ng-app>
    <div ng-controller="ctrlName">
        <p>First Name: <input type="text" ng-model="firstName"/></p>
        <p>Last Name: <input type="text" ng-model="lastName"/></p>
        <p>Full Name: {{firstName}} {{lastName}}</p>
    </div>
</div></code></pre>
                    <p>Source code: Controller</p>
                    <pre><code class="javascript" data-trim contenteditable>
function ctrlName($scope) {
    $scope.firstName = "Luke";
    $scope.lastName = "Skywalker";
}</code></pre>
				</section>

				<section>
					<p>К сожалению, из коробки Backbone не предоставляет такой функциональности. Однако существует множество сторонних решений:</p>
                    <ul>
                        <li><i>Backbone.ModelBinding</i> - <a href="https://github.com/derickbailey/backbone.modelbinding">https://github.com/derickbailey/backbone.modelbinding</a></li>
                        <li><i>Backbone.ModelBinder</i> - <a href="https://github.com/theironcook/Backbone.ModelBinder">https://github.com/theironcook/Backbone.ModelBinder</a></li>
                        <li><i>Backbone.DataBinding</i> - <a href="https://github.com/dnemoga/Backbone.DataBinding">https://github.com/dnemoga/Backbone.DataBinding</a></li>
                        <li><i>Backbone.Stickit</i> - <a href="http://nytimes.github.io/backbone.stickit">http://nytimes.github.io/backbone.stickit</a></li>
                        <li><i>Epoxy.js</i> - <a href="http://epoxyjs.org">http://epoxyjs.org</a></li>
                        <li><i>Rivets.js</i> - <a href="http://rivetsjs.com">http://rivetsjs.com</a></li>
                        <li><i>Knockback.js</i> - <a href="http://kmalakoff.github.io/knockback/">http://kmalakoff.github.io/knockback/</a></li>
                    </ul>
				</section>

                <section>
                    <h2>Backbone.ModelBinding</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" id="firstName"/></p>
<p>Last Name: <input type="text" id="lastName"/></p>
<p>Full Name: <span data-bind="text firstName"></span>
    <span data-bind="text lastName"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code data-trim contenteditable class="javascript" style="max-height: 800px; font-size: 16px;">
var ModelBindingView = Backbone.View.extend({
    template: $("script[type='text/template']").html(),

    render: function() {
        this.$el.html(this.template);
        Backbone.ModelBinding.bind(this);
        return this;
    }
});

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    view = new ModelBindingView({ model: model, el: $("#container") });

view.render();</code></pre>
				</section>

                <section class="fragment">
                    <h2>Backbone.ModelBinding</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                            <tr><th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th></tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li class="fragment">По сути, первый data binding для Backbone. Интересен для истории.</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Ограниченое число binding'ов</li>
                                    <li class="fragment">Разработка остановлена</li>
                                    <li class="fragment">Новые версии Backbone официально не поддерживаются</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section>
					<h2>Backbone.ModelBinder</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" name="firstName"/></p>
<p>Last Name: <input type="text" name="lastName"/></p>
<p>Full Name: <span name="firstName"></span> <span name="lastName"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code data-trim contenteditable class="javascript" style="max-height: 800px; font-size: 16px;">
var ModelBinderView = Backbone.View.extend({
    template: $("script[type='text/template']").html(),

    initialize: function() {
        this.modelBinder = new Backbone.ModelBinder();
    },

    render: function() {
        this.$el.html(this.template);
        this.modelBinder.bind(this.model, this.el);
        return this;
    }
});

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    view = new ModelBinderView({ model: model, el: $("#container") });

view.render();</code></pre>
				</section>

                <section class="fragment">
                    <h2>Backbone.ModelBinder</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Гибкость в настройке</li>
                                    <li class="fragment">Есть возможность привязаться к любому аттрибуту DOM элемента</li>
                                    <li class="fragment">Поддержка конвертеров и форматтеров</li>
                                    <li class="fragment">Поддержка коллекций с помощью Backbone.CollectionBinder</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Сложный в освоении из-за большого количества настроек и параметров</li>
                                    <li class="fragment">Проект не активен, minor версия 1.0.6 от 5 ноября 2014, до этого коммиты были только в 2013</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

				<section>
					<h2>Backbone.DataBinding</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" name="firstName"/></p>
<p>Last Name: <input type="text" name="lastName"/></p>
<p>Full Name: <span id="firstName"></span> <span id="lastName"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code data-trim contenteditable class="javascript" style="max-height: 800px; font-size: 16px;">
var DataBindingView = Backbone.View.extend({
    template: $("script[type='text/template']").html(),

    render: function() {
        this.$el.html(this.template);
        return this;
    }
});

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    view = new DataBindingView({ model: model, el: $("#container") }),
    modelBinder = new Backbone.ModelBinder(view, model);

modelBinder.watch('value: firstName', { selector: '[name="firstName"]' });
modelBinder.watch('text: firstName', { selector: '#firstName' });
modelBinder.watch('value: lastName', { selector: '[name="lastName"]' });
modelBinder.watch('text: lastName', { selector: '#lastName' });

view.render();</code></pre>
				</section>

                <section class="fragment">
                    <h2>Backbone.DataBinding</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Есть возможность связать модель и представление извне, не трогая оригинальный код</li>
                                    <li class="fragment">Поддержка коллекций</li>
                                    <li class="fragment">Автор из Украины</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Отсутсвтие какого-либо community - 2 контрибьютора, 0 форков</li>
                                    <li class="fragment">Много ручной работы</li>
                                    <li class="fragment">Последний коммит - год назад</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2>Backbone.Stickit</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" name="firstName"/></p>
<p>Last Name: <input type="text" name="lastName"/></p>
<p>Full Name: <span id="fullName"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code data-trim contenteditable class="javascript" style="max-height: 800px; font-size: 16px;">
var StickitView = Backbone.View.extend({
    template: $("script[type='text/template']").html(),
    bindings: {
        '[name=firstName]': 'firstName',
        '[name=lastName]': 'lastName',
        '#fullName': {
            observe: ['firstName', 'lastName'],
            onGet: function(values) { return values[0] + ' ' + values[1]; }
        }
    },
    render: function() {
        this.$el.html(this.template);
        this.stickit();
        return this;
    }
});

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    view = new StickitView({ model: model, el: $("#container") });

view.render();</code></pre>
                </section>

                <section class="fragment">
                    <h2>Backbone.Stickit</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Активно развивается, последний коммит - в начале ноября 2014</li>
                                    <li class="fragment">Большое community, серьезный автор - NY Times</li>
                                    <li class="fragment">Поддержка contenteditable DOM эелментов</li>
                                    <li class="fragment">Computed свойства</li>
                                    <li class="fragment">Огромное количество настроек</li>
                                    <li class="fragment">Возможность форматирования и конвертирования</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Data binding описывается в JavaScript коде, нет привязки к темплейтам</li>
                                    <li class="fragment">Доволен сложен в освоении и, как следствие, возможно, overkill для простых задач</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

				<section>
					<h2>Epoxy.js</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" data-bind="value:firstName,events:['keyup']"/></p>
<p>Last Name: <input type="text" data-bind="value:lastName,events:['keyup']"/></p>
<p>Full Name: <span data-bind="html:fullNameDisplay"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code contenteditable data-trim class="javascript" style="max-height: 800px; font-size: 16px;">
var EpoxyView = Backbone.Epoxy.View.extend({
    template: $("script[type='text/template']").html(),

    computeds: {
        fullNameDisplay: function() {
            return this.getBinding("firstName") + " " + this.getBinding("lastName");
        }
    },

    render: function() {
        this.$el.html(this.template);
        this.applyBindings();
        return this;
    }
});

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    view = new EpoxyView({ model: model, el: $("#container") });

view.render();</code></pre>
				</section>

                <section class="fragment">
                    <h2>Epoxy.js</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Активно развивается, последний коммит - 7 дней назад</li>
                                    <li class="fragment">Computed свойства как в модели, так и во view</li>
                                    <li class="fragment">Декларировать binding'и можно как во view, так и в темплейтах</li>
                                    <li class="fragment">Возможность форматирования и конвертирования</li>
                                    <li class="fragment">Поддержка коллекций</li>
                                    <li class="fragment">Простота создания кастомных binding'ов</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Нужно обязательно наследоваться от Backbone.Epoxy.View. Если нужна поддержка computed свойств в модели то нужно наследоваться от Backbone.Epoxy.Model</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2>Rivets.js</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" rv-value="model:firstName"/></p>
<p>Last Name: <input type="text" rv-value="model:lastName"/></p>
<p>Full Name: <span rv-text="view.fullName < model:firstName model:lastName"></span></p></code></pre>
                    <p>Source code: View and Model</p>
                    <pre><code class="javascript" data-trim contenteditable style="font-size: 16px;">
var RivetsView = Backbone.View.extend({
    template: $("script[type='text/template']").html(),
    fullName: function() {
        return this.model.get("firstName") + " " + this.model.get("lastName");
    },
    render: function () {
        this.$el.html(this.template);
        rivets.bind(this.$el, { model: this.model, view: this });
        return this;
    }
});

var model = new Backbone.Model({firstName: "Luke", lastName: "Skywalker"}),
    view = new RivetsView({model: model, el: $("#container")});

view.render();</code></pre>
                </section>

                <section>
                    <h2>Rivets.js</h2>
                    <p>Source code: Backbone adapter</p>
                    <pre><code class="javascript" data-trim contenteditable style="font-size: 16px;">
rivets.adapters[':'] = {
    observe: function(obj, keypath, callback) {
        obj.on('change:' + keypath, callback)
    },
    unobserve: function(obj, keypath, callback) {
        obj.off('change:' + keypath, callback)
    },
    get: function(obj, keypath) {
        return obj.get(keypath)
    },
    set: function(obj, keypath, value) {
        obj.set(keypath, value)
    }
};</code></pre>
                </section>

                <section class="fragment">
                    <h2>Rivets.js</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th>
                            <th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Активно развивается, последний коммит - 5 дней назад</li>
                                    <li class="fragment">Может использоваться как с event-driven моделями других JavaScript фреймворками (например, Stapes.js), так и с обычными JavaScript объектами</li>
                                    <li class="fragment">Computed свойства</li>
                                    <li class="fragment">Возможность форматирования и конвертирования</li>
                                    <li class="fragment">Поддержка коллекций</li>
                                    <li class="fragment">Прост в освоении</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Для поддержки моделей и коллекций из определенного фреймворка необходимо написать адаптер</li>
                                    <li class="fragment">Дополнительная прослойка Sightglass для поддержки Observable</li>
                                    <li class="fragment">Все кастомные биндинги можно объявлять только глобально</li>
                                    <li class="fragment">IE8 не поддерживается</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

                <section>
                    <h2>Knockback.js</h2>
                    <p>Source code: Template</p>
                    <pre><code class="html" data-trim contenteditable style="font-size: 16px;">
<p>First Name: <input type="text" data-bind="value: firstName, valueUpdate: 'keyup'" /></p>
<p>Last Name: <input type="text" data-bind="value: lastName, valueUpdate: 'keyup'" /></p>
<p>Full Name: <span data-bind="text: fullName"></span></p></code></pre>
                    <p>Source code: Model and ViewModel</p>
                    <pre><code class="javascript" data-trim contenteditable style="font-size: 16px;">
var KnockbackViewModel = function(model) {
    this.firstName = kb.observable(model, 'firstName');
    this.lastName = kb.observable(model, 'lastName');
    this.fullName = ko.computed((function() {
        return "" + (this.firstName()) + " " + (this.lastName());
    }), this);
};

var model = new Backbone.Model({ firstName: "Luke", lastName: "Skywalker" }),
    viewModel = new KnockbackViewModel(model);

$('#container').html($("script[type='text/template']").html());
ko.applyBindings(viewModel, $('#container')[0]);</code></pre>
                </section>

                <section class="fragment">
                    <h2>Knockback.js</h2>
                    <table class="plusesAndMinusesTable">
                        <thead>
                        <tr>
                            <th style="text-align: center; border: none;">+</th><th style="text-align: center; border: none;">-</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">Активно развивается, последний коммит - 15 дней назад</li>
                                    <li class="fragment">Умеет все, что умеет Knockout.js</li>
                                    <li class="fragment">Поддержка различных Backbone.js плагинов для nested моделей (BackboneORM, Backbone-Relational etc.)</li>
                                </ul>
                            </td>
                            <td style="vertical-align: top;">
                                <ul>
                                    <li class="fragment">От самого Backbone.js остаются только Model и Router</li>
                                    <li class="fragment">Зависимость сразу от двух больших фреймворков</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>

			</div>

		</div>

		<script src="bower_components/reveal.js/lib/js/head.min.js"></script>
		<script src="bower_components/reveal.js/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
